numpy
pandas
scipy

scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn

tensorflow
keras
torch
torchvision
torchaudio

matplotlib
seaborn
plotly

nltk
spacy
transformers

opencv-python
pillow

joblib
tqdm
keras-tuner